
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 300;
        src: url('fonts/Lato-LigIta-webfont.svg#latolight_italic') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        src: url('fonts/Lato-Lig-webfont.svg#latolight') format('svg');
    }


    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 400;
        src: url('fonts/Lato-RegIta-webfont.svg#latoregular_italic') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/Lato-Reg-webfont.svg#latoregular') format('svg');
    }


    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 700;
        src: url('fonts/Lato-Bol-webfont.svg#latobold_italic') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: url('fonts/Lato-Bol-webfont.svg#latobold') format('svg');
    }
}