@import 'elements.less.css';

.transition(@type: all, @duration: 0.2s, @ease: ease-out) {
    -webkit-transition: @type @duration @ease;
    -moz-transition: @type @duration @ease;
    -o-transition: @type @duration @ease;
    transition: @type @duration @ease;
}