@import 'giann.less.css';

html {
    overflow: auto;
    /* Prevents font adjusting on iphone when going landscape */
    -webkit-text-size-adjust: none;
    background-color: #F8F8F8;
}

body {
    font-family: 'Lato', 'Open Sans', Arial;
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
    color: #333;
}

.cb {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.game {
    margin-top: 15px;
}

.search-input {
    font-family: monospace;
    font-size: 16px;
}

.key {
    font-weight: bold;
    color: #777;
}

.key:after {
    content: ':';
}

.value {
    margin-left: 3px;
}

.god:after {
    font-style: normal;
    font-weight: bold;
    padding: 3px 5px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
}

.god.trog:after {
    background-color: rgb(255, 85, 85);
    content: 'Trog';
}

.god.ashenzari:after {
    content: 'Ashenzari';
    background-color: rgb(187, 0, 0);
}

.god.beogh:after {
    content: 'Beogh';
    background-color: rgb(0, 0, 0);
}

.god.cheibriados:after {
    content: 'Cheibriados';
    background-color: rgb(0, 0, 0);
}

.god.dithmenos:after {
    content: 'Dithmenos';
    background-color: rgb(0, 0, 0);
}

.god.elyvilon:after {
    content: 'Elyvilon';
    background-color: rgb(187, 187, 187);
}

.god.fedhas:after {
    content: 'Fedhas Madash';
    background-color: rgb(0, 0, 0);
}

.god.gozag:after {
    content: 'Gozag Ym Sagoz';
    background-color: rgb(0, 0, 0);
}

.god.jiyva:after {
    content: 'Jiyva';
    background-color: rgb(0, 0, 0);
}

.god.kikubaaqudgha:after {
    content: 'Kikubaaqudgha';
    background-color: rgb(0, 0, 0);
}

.god.lugonu:after {
    content: 'Lugonu';
    background-color: rgb(187, 0, 187);
}

.god.makhleb:after {
    content: 'Makhleb';
    background-color: rgb(0, 0, 0);
}

.god.nemelex:after {
    content: 'Nemelex Xobeh';
    background-color: rgb(0, 0, 0);
}

.god.okawaru:after {
    content: 'Okawaru';
    background-color: rgb(255, 160, 160);
}

.god.qazlal:after {
    content: 'Qazlal Stormbringer';
    background-color: rgb(0, 0, 0);
}

.god.ru:after {
    content: 'Ru';
    background-color: rgb(0, 0, 0);
}

.god.sif:after {
    content: 'Sif Muna';
    background-color: rgb(0, 0, 0);
}

.god.the:after {
    content: 'The Shining One';
    background-color: rgb(187, 187, 0);
}

.god.vehumet:after {
    content: 'Vehumet';
    background-color: rgb(0, 0, 0);
}

.god.xom:after {
    content: 'Xom';
    background-color: rgb(0, 0, 0);
}

.god.yredelemnul:after {
    content: 'Yredelemnul';
    background-color: rgb(0, 0, 0);
}

.god.zin:after {
    content: 'Zin';
    background-color: rgb(187, 187, 187);
}
